body {
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #2f2f2f;
    padding: 28px 0;
}

.header ul {
    float: right;
    margin-bottom: 0;
    padding: 3px 0;
}

.header li {
    display: inline-block;
}

.header a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
    transition: color 0.5s ease-in-out;
}

.header img {
    width: 150px;
}

.header a:hover,
.header a.selected {
    color: #0070ad;
}

.banner img {
    width: 100%;
}

.banner-motivation {
    text-align: center;
    padding: 50px 0;
}

.banner-motivation p {
    font-size: 28px;
    padding-top: 10px;
}